.singInDiv {
    width: 100%;
    height: 90%;
    background: rgb(0 98 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 3rem;
}

.singInDiv label {
    width: 50%;
    margin-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
    margin-right: 2rem;
}

.singInDiv input {
    border-radius: 0.5rem;
    border: none;
    height: 1.5rem;
    width: 15rem;
    padding: 0.5rem;
}

.singInDiv input:focus {
    outline: none;
}

.submit {
    margin-top: 2rem;
}
