<html lang='en'>
    <head>
    </head>
    <body>
        <div class='userName'>
            <h1></h1>
        </div>
        <div class='ecommerceContainer'>
            <div class='productsSection'>
                <div class='productsTable'>
                    <h1>Productos agregados</h1>
                    <div>
                        <table>
                            <thead>
                                <th>Title</th>
                                <th>Price</th>
                                <th>Thumbnail</th>
                            </thead>
                            <tbody id='productsContainer'>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class='carritoContainer' id='carritoContainer'>
                <h3>Carrito</h3>
                <div class='productsCartContainer' id='productsCartContainer'></div>
            </div>
        </div>
        <script src='../main.js'></script>
    </body>

</html>